@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Vai&display=swap');

body {
  margin: 0px;
  background-color: #ecf0f1;
  font-family: 'Noto Sans  Vai', 'Roboto', sans-serif;
}
header {
  background-color: #2c3e50;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  box-shadow: 1px 1px 5px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header h1 {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 5px;
  color: #f39c12;
  text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white, 1px 1px white,
    -1px -1px white, 1px -1px white, -1px 1px white;
}
.css-2b097c-container {
  flex: 1;
  border-radius: 25px;
  margin: 0px 5px 0px 25px;
  max-width: 400px;
}
section {
  text-align: end;
  margin: 60px 20px 0px 20px;
}
#stationContent{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
}

aside{
    position: fixed;
    top: 65px;
    bottom: 10px;
    left: -50%;
    background-color:#95a5a6;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
    padding: 5px;
    width: 43%;
    text-align: center;
    transition: left 1s ease-in-out;
}
#asideView{
    left: 5px;
}
#grapContent{
    min-height: 250px;
    max-height: 45%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    left: 15px;
    background-color: white;
    border-radius: 15px;
    text-align: center;

}
